<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="wow animated fadeIn slower" data-wow-delay=".1s">
      </div>
    </div>

    <div id="container" class="my-2">
      <div id="dummy-half"></div>
      <h2 style="font-family:Cyber;text-transform:uppercase;color:#3a3636" class="wow animated fadeIn slower" data-wow-delay=".3s">Ryan Davis</h2>
      <span class="sub wow animated fadeIn slower" data-wow-delay=".3s">{{ site.description }}</span>
    </div>

  </div>
</div>