.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: #b3b3b3;
}

.nav-link,
.navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}

.navbar-brand {
  margin-left: 5em;
  margin-bottom: -3px;
  &::after {
    margin-top: -0.25em;
  }
}

.navbar-nav {
  margin-right: 5em;
}

.navbar {
  padding-top: 1em;
  background-color: rgba(245, 245, 245, 0.85);
}