.project.card {
  border-radius: 0 0 0 0;
  text-decoration: none !important;
  margin: 16px auto;
  background-color: #363231;

  .card-img-top {
    border-radius: 0 0 0 0;
  }

  transition: transform 400ms;

  /* Pink/Cyan Hovering */
  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: 20px 20px 0px -12px #58642d, -20px -20px 0px -12px #58642d;
  }
}
