.hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-transition: filter .2s ease-out, filter .2s ease-in;
    -ms-transition: filter .2s ease-out, filter .2s ease-in;
    -moz-transition: filter .2s ease-out, filter .2s ease-in;
    -webkit-transition: filter .2s ease-out, filter .2s ease-in;
    transition: filter .2s ease-out, filter .2s ease-in;
}

.hover:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.half-hover {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    -o-transition: filter .5s ease-out, filter .5s ease-in;
    -ms-transition: filter .5s ease-out, filter .5s ease-in;
    -moz-transition: filter .5s ease-out, filter .5s ease-in;
    -webkit-transition: filter .5s ease-out, filter .5s ease-in;
    transition: filter .5s ease-out, filter .5s ease-in;
}

.half-hover:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

@media only screen and (max-width: 600px) {
    .hover {
        filter: none;
        -webkit-filter: none;
    }

    .half-hover {
        filter: none;
        -webkit-filter: none;
    }
}