body {
  background-color: #f5f5f5;
  background-image: url("../img/common/plant_bg.png");

  /* Background Repeat */
  background-repeat: no-repeat;
  
  /* Background Size */
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  
  /* Background Position */
  background-position: left bottom;
  -webkit-background-position: left bottom;
  
  /* Background Attachment */
  background-attachment: fixed;
}

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

.cyber {
    font-family: Cyber;
}

/* Gradient Text: https://codepen.io/argyleink/pen/OJMEpGp */
.project-title {
  color: #3a3636;
  text-shadow: 2px 2px rgba(245, 245, 245, 0.5);
  -webkit-background-clip: text;
  font-size: 500%;
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
  font-size: 250%;
  color: #3a3636;
  text-shadow: 2px 2px rgba(245, 245, 245, 0.5);
  background-clip: text;
  -webkit-background-clip: text;
}

.info-subtitle {
  text-transform: uppercase;
  font-size: 150%;
  color: #3a3636;
  -webkit-background-clip: text;
}

.project-card-title {
  text-transform: uppercase;
  font-size: 160%;
  font-family: Cyber;
}

/* Inline HR: https://codepen.io/oaviv/pen/GqXwYp */
.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.liner:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: linear-gradient(to right, #3a3636, #746e6e, #BAB5B5);
  min-width: 20px;
  margin: auto;
}
.liner:after {
  margin-left: 20px;
}

.liner-title {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.liner-title:after {
  content: "";
  flex-grow: 1;
  height: 4px;
  background: linear-gradient(to right, #3a3636, #746e6e, #BAB5B5, #f5f5f5);
  min-width: 20px;
  margin: auto;
}
.liner-title:after {
  margin-left: 20px;
}

.inner-hr {
  max-width: 30%;
  margin: 5% auto;
  border: 1.5px solid #BAB5B5;

}

.quick-info-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.social-media-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.social-media-item {
  padding: 0 5px 5px 5px;
}

.social-media-icon {
  margin: 0 !important;
  padding-bottom: 5px;
}

.grid-item {
  padding: 0 10px;
}

.spacer {
  margin: 0 2em;
}

/* Div Containers */
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}  

/* Centering: https://www.w3schools.com/howto/howto_css_center_button.asp */
.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

a.no-underline {
    text-decoration: none !important;
}

ul {
  list-style-type: square;
}

ul.none li {
  list-style-type: none;
  padding: 0;
}

/* Cropped Images: https://www.educative.io/edpresso/how-to-crop-an-image-in-css */
.cropped {
    max-width: 300px; 
    max-height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.pixel-div {
  margin: 0.5em auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow:   -3px 0 0 0 #746e6e,
                 6px 0 0 0 #746e6e,
                 0 -4px 0 0 #746e6e,
                 0 6px 0 0 #746e6e;
}

.pixel-div-enclose {
  margin: 0.5em auto;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow:   -3px 0 0 0 #746e6e,
                 6px 0 0 0 #746e6e,
                 0 -4px 0 0 #746e6e,
                 0 6px 0 0 #746e6e;
}

/* Cyberpunk Button: https://dev.to/leandroruel/how-to-make-a-cyberpunk-2077-button-with-css-c9m */
:root {
  --white-color: #f5f5f5;
  --main-color: #746e6e;
  --detail-color: #3a3636;
}

.btn {
  width: 230px;
  height: 60px; 
  border: 0;
  outline: none;
  background-color: var(--detail-color);
  cursor: pointer;
  position: relative;
  font-family: Cyber, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--detail-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--white-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}
.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
  color: var(--white-color);
  display: block;
  opacity: 30%;
  background-color: var(--main-color);
}

/* Link Hover SCSS -> CSS: https://codepen.io/jltk/pen/dMvGvG */
.credit-link {
  color: #924a4a !important;
  text-decoration: none !important;
  box-shadow: inset 0 0 0 0 #f5f5f5;
  transition: all 0.4s ease-in-out 0s;
}
.credit-link:hover {
  box-shadow: inset 300px 0 0 0 #924a4a;
  color: #f5f5f5 !important;
  padding: 0 2px;
}

/* Textbox CSS Base: https://www.quackit.com/html/codes/html_scroll_box.cfm */
/* Gradient Div Border: https://codepen.io/chriscoyier/pen/ZVYXRx */
.scroll {
  height: auto;
  display: block;
  overflow: auto;
  padding: 5px 2px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to bottom, #746e6e, #d6d6d6);
}

#feature {
  max-height: 5em;
  /* width: auto; TODO: fix for mobile */
  /* max-width: 5em; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}
 
::-webkit-scrollbar-thumb {
  background: #d6d6d6;  
}

::-webkit-scrollbar-thumb:hover {
  background: #746e6e;  
}

/* Gradient Scrollbar: https://codepen.io/jpaezsa/pen/OJPYdzg */
.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  background:  linear-gradient(180deg, #746e6e 0%, #d6d6d6 100%);
}

.scroll::-webkit-scrollbar-thumb {
  background: #f5f5f5;
}

/* -------------------- MOBILE CSS -------------------- */

@media only screen and (max-width: 600px) {
  /* --- COMMON --- */
  body {
    /* background-color: lightblue; TODO: remove test */
    background-image: url("");
  }

  /* --- INDIVIDUAL PROJECT PAGES --- */

  /* VIDEOS */
  .m-iframe-container {
      position: relative;
      width: 100%;
    }

  .m-iframe_container iframe{
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
  }

  /* .flex-container {
    margin-top: 0;
  } */

  /* BUTTONS */
  .m-btn {
    width: 140px;
    height: 45px;
  }

  /* TITLES */
  .subtitle {
    font-size: 200%;
  }

  .info-subtitle {
    font-size: 130%;
  }

  .project-title {
    color: #3a3636;
    text-shadow: 2px 2px rgba(245, 245, 245, 0.5);
    -webkit-background-clip: text;
    font-size: 400%;
    text-transform: uppercase;
  }

  .liner:after {
    content: initial;
    flex-grow: initial;
    height: initial;
    background: initial;
    min-width: initial;
    margin: initial;
  }
  .liner:after {
    margin-left: initial;
  }
  
  .liner-title {
    display: initial;
    align-items: initial;
    text-align: initial;
  }
  
  .liner-title:after {
    content: initial;
    flex-grow: initial;
    height: initial;
    background: initial;
    min-width: initial;
    margin: initial;
  }
  .liner-title:after {
    margin-left: initial;
  }

  .pixel-div {
    max-height: 300px;
    overflow: auto;
  }

  .sm-icon-box {
    /* height: 100px; */
    /* max-width: 100px; */
    /* overflow-x: scroll; */
    /* transform:rotate(-90deg) translateY(-80px);
    overflow-y:auto;
    overflow-x:hidden; */
    border:1px solid black;
    height:100px;
    width:300px;
    overflow-y:hidden;
    overflow-x:scroll;
  }

  /* .sm-icon-box > div {
    transform:rotate(90deg);
    display: block;
    margin: 0 auto;
  } */

  /* .horizontal-scroll-wrapper{
    position: relative;
    display:block;
    top:0;
    left:0;
    width:300px;
    max-height:100px;
    margin:0;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  .horizontal-scroll-wrapper > div{
    display:block;
    padding:5px;
    transform:rotate(90deg);
    transform-origin: right top;
  } */

  .cards {
    display: flex;
    width: 100%;
    padding: var(--space);
    overflow: scroll;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
  }
  .cards::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  .cards > * + * {
    margin-left: var(--space);
  }
  .cards::after {
    content: "";
    display: block;
    flex: 0 0 var(--space);
  }
  
  .card {
    flex: 1 0 auto;
    width: 100%;
    max-width: 100px;
    /* opacity: 0; */
    /* background-color: #e6e6e6; */
    border-radius: var(--radius);
    overflow: hidden;
    /* transform: translateX(2px); */
  }

  .card__image {
    width: 100%;
    background-color: #70c2b4;
  }
  .card__image::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }
  
  .card__content {
    padding: var(--space);
  }
  
  .card__title {
    margin-bottom: calc(var(--space) / 2);
    width: 70%;
    height: 24px;
    border-radius: var(--radius);
    background-color: #f25c5a;
  }
  
  .card__line {
    height: 12px;
    background-color: #24799e;
    border-radius: var(--radius);
  }
  .card__line + .card__line {
    margin-top: calc(var(--space) / 4);
  }
  .card__line:last-child {
    width: 60%;
  }

}