body {
  background-color: #f5f5f5;
  background-image: url("../img/common/plant_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  background-attachment: fixed;
}

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

.cyber {
    font-family: Cyber;
}

/* Gradient: https://codepen.io/argyleink/pen/OJMEpGp */
.project-title {
  color: #3a3636;
  text-shadow: 2px 2px rgba(245, 245, 245, 0.5);
  -webkit-background-clip: text;
  font-size: 500%;
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
  font-size: 250%;
  color: #3a3636;
  text-shadow: 2px 2px rgba(245, 245, 245, 0.5);
  -webkit-background-clip: text;
}

.info-subtitle {
  text-transform: uppercase;
  font-size: 150%;
  color: #3a3636;
  -webkit-background-clip: text;
}

/* Inline HR: https://codepen.io/oaviv/pen/GqXwYp */
.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.liner:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: linear-gradient(to right, #3a3636, #746e6e, #BAB5B5);
  min-width: 20px;
  margin: auto;
}
.liner:after {
  margin-left: 20px;
}

.liner-title {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.liner-title:after {
  content: "";
  flex-grow: 1;
  height: 4px;
  background: linear-gradient(to right, #3a3636, #746e6e, #BAB5B5, #f5f5f5);
  min-width: 20px;
  margin: auto;
}
.liner-title:after {
  margin-left: 20px;
}

.inner-hr {
  max-width: 30%;
  margin: 5% auto;
  border: 1.5px solid #BAB5B5;

}

.quick-info-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.social-media-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.social-media-item {
  padding: 0 5px 5px 5px;
}

.social-media-icon {
  margin: 0 !important;
}

.grid-item {
  padding: 0 10px;
}

.spacer {
  margin: 0 2em;
}



/* Div Containers */
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}  

/* Centering: https://www.w3schools.com/howto/howto_css_center_button.asp */
.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

a.no-underline {
    text-decoration: none !important;
}

ul {
  list-style-type: square;
}

/* Cropped Images: https://www.educative.io/edpresso/how-to-crop-an-image-in-css */
.cropped {
    max-width: 300px; 
    max-height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.pixel-div {
  margin: 0.5em auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow:   -3px 0 0 0 #746e6e,
                 6px 0 0 0 #746e6e,
                 0 -4px 0 0 #746e6e,
                 0 6px 0 0 #746e6e;
}

.pixel-div-enclose {
  margin: 0.5em auto;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow:   -3px 0 0 0 #746e6e,
                 6px 0 0 0 #746e6e,
                 0 -4px 0 0 #746e6e,
                 0 6px 0 0 #746e6e;
}

/* Cyberpunk Button: https://dev.to/leandroruel/how-to-make-a-cyberpunk-2077-button-with-css-c9m */
:root {
  --white-color: #f5f5f5;
  --main-color: #746e6e;
  --detail-color: #3a3636;
}

.btn {
  width: 230px;
  height: 60px; 
  border: 0;
  outline: none;
  background-color: var(--detail-color);
  cursor: pointer;
  position: relative;
  font-family: Cyber, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--detail-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--white-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}
.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
  color: var(--white-color);
  display: block;
  opacity: 30%;
  background-color: var(--main-color);
}